<% if !current_user.nil? %>
    <p class="lead">Here you go! you're all set! We will retweet and fav taskbob tweets. sit back and relax! </p>
    <p class="lead">Thanks for login!</p>
<% else %>
		<p class="lead">Hey Here you go! you're all set! We will retweet and fav taskbob tweets. sit back and relax! </p>
<% end %>