<!--   <% if params[:hub_mode] == "subscribe" && params[:hub_verify_token] == "cool"%>
  	<%= params[:hub_challenge] %>
  <% end %>
 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
	window.onload = function() {
    var startPos;
    var x = document.getElementById("demo");
    var geoSuccess = function(position) {
      startPos = position;
      document.cookie = "latitude="+startPos.coords.latitude;
    	document.cookie = "longitude="+startPos.coords.longitude;
    };
    if (navigator.geolocation) {
      var t = navigator.geolocation.getCurrentPosition(geoSuccess);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  };
  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length,c.length);
      }
    }
    return "";
  }
  $(document).ready(function(){
    $("button").click(function(){
      window.location.href = "/welcomes?latitude="+getCookie("latitude")+"&longitude="+getCookie("longitude");
    });
  });
</script>

<div id="demo"></div>

<script type="text/javascript">
function initMap() {
  var map;
  var bounds = new google.maps.LatLngBounds();
  var mapOptions = {
    mapTypeId: 'roadmap'
  };
                  
  // Display a map on the page
  map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
  //map.setTilt(45);
      
  // Multiple Markers
  var markers = <%= @points.to_json.html_safe %>;
                      
  // Info Window Content
  var infoWindowContent = <%= @points.to_json.html_safe %>;
      
  // Display multiple markers on a map
  var infoWindow = new google.maps.InfoWindow(), marker, i;
  
  // Loop through our array of markers & place each one on the map
  for( i = 0; i < markers.length; i++ ) {
		var position = new google.maps.LatLng(markers[i][2], markers[i][3]);
    bounds.extend(position);
    marker = new google.maps.Marker({
        position: position,
        map: map,
        icon: markers[i][4],
        title: markers[i][0]
    });
    
    // Allow each marker to have an info window

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
    		infoWindow.setContent('<img src='+infoWindowContent[i][4]+'/>'+'<br />'+'<a href = https://twitter.com/'+infoWindowContent[i][5]+' '+'target="_new">'+'@'+infoWindowContent[i][5]+'</a>'+'<br />'+'<div>'+infoWindowContent[i][6]+'</div>');
        infoWindow.open(map, marker);
      }
    })(marker, i));

    // Automatically center the map fitting all markers on the screen
    map.fitBounds(bounds);
  }

  // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
  var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
      this.setZoom(13);
      google.maps.event.removeListener(boundsListener);
  });
}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuMyqFUUQX_Vo7OFUNIN_X9K63liIzw2U&callback=initMap">
</script>
<style type="text/css">
  
</style>
<% unless params[:latitude] && params[:longitude] %>
  <div class="faicon">
    <div class="fa fa-twitter">
    </div>
    <div class="title">
      TwitterHunt
    </div>
    <div class="content">
      <button class="add">GO!</button>
    </div>
  </div>
<% end %>

<% if params[:latitude] && params[:longitude] %>
	<div id="info">
    <center>
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/ffuBp2/images/2480c069-1902-4e26-9903-ea5c4a7a090b.png?1468516330749">
      <br> By
        <a href="https://www.twitter.com/samarthsikotara">@samarthsikotara</a>
      <br>
        <a href="https://www.twitter.com/hitesh_jain">@hitesh_jain</a>  
    </center>
  </div>

  <div class="panel-body">
	  <div id="map-canvas" style='height: 600px;'></div>
	</div>
<% end %>

<!-- <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    .map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
  <div id='map-one' class='map'> </div>
<script>

      var json;
      $.getJSON( "/data.json", function( data ) {
        json = data;
        if(json.length == 0){alert("No tweets hunted today just yet (possible 30min delay)");}
        loadMap();
      });
// Provide your access token
function loadMap(){


L.mapbox.accessToken = 'pk.eyJ1Ijoic2FtYXJ0aHNpa290YXJhIiwiYSI6Im9JVmlCTEEifQ.PxLQDSDUWutS1i8ME094Kg';
// Create a map in the div #map
var map =L.mapbox.map('map-one', 'mapbox.streets');

var myLayer = L.mapbox.featureLayer().addTo(map);
var geoJson = json;
// Set a custom icon on each marker based on feature properties.
myLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    marker.setIcon(L.icon(feature.properties.icon));
});

// Add features to the map.
myLayer.setGeoJSON(geoJson);
}
//L.mapbox.accessToken = 'pk.eyJ1Ijoic2FtYXJ0aHNpa290YXJhIiwiYSI6Im9JVmlCTEEifQ.PxLQDSDUWutS1i8ME094Kg';
 // L.mapbox.map('map-one', 'mapbox.streets').setView([19.1197,72.9051], 14);
</script> -->